{% extends "site_web/base.html" %}

{% block title %} baixavideo {% endblock %}

{% block content %}
{% load static %}
<form id="form_busca" class="form_1" data-toggle="validator" method="post">
     {% csrf_token %}
    <div class="row mb-3">
    <label class="col-sm-4 col-form-label"><h2>link do vídeo</h2></label>

    </div>

  <div class="row mb-3">

    <div class="col-sm-10">
      <div class="input-group input-group-lg form-group">
       <input type="url" name="endereco" placeholder="paste link here(https://www.youtube.com/....)" class="form-control input_link_yout" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-lg" required>


      </div>
     <p class="text-start text-danger texto_alerta" style="visibility:hidden">A url não corresponde a um endereço válido do youtube</p>
    </div>
      <div class="col-sm-2">
        <div class="input-group input-group-lg">
        <button type="submit" class="btn btn-primary btn_pegar_video">processar</button>
            </div>
    </div>
  </div>


</form>





<div>
    <p class="text-center">
        <img src="{{capa_img}}" class="img-thumbnail capa_img" alt=""></p>
<div class="container">
  <!-- Content here -->


    <table class="table table-dark table-striped table_dados">

  <thead class="table-dark">

      <th scope="col">tipo</th>
      <th scope="col">codec</th>
      <th scope="col">qualidade</th>

      <th scope="col">Download</th>

  </thead>

  <tbody>

   {% for disponivel in endereco %}
   <tr>

   <td>{{disponivel.type}}</td>
       <td>{{disponivel.codec}}</td>
       <td>{{disponivel.resolucao}}</td>



       <td><button type="button" class="btn btn-success btn-lg down" data-indi={{disponivel.indice}} data-url="{% url 'site_web:video'  %}" >Donwload</button></td>
       </tr>

  {% endfor %}
  </tbody>
</table>

</div>
</div>



{% endblock %}
