.form_1{
margin:5%;
margin-right:10%;
margin-left:10%;
}
.capa_img{
max-width:600px;

}
.bd-example-modal-lg .modal-dialog{
    display: table;
    position: relative;
    margin: 0 auto;
    top: calc(50% - 24px);
  }

  .bd-example-modal-lg .modal-dialog .modal-content{
    background-color: transparent;
    border: none;
  }
